pkgbase = anarlog-bin
	pkgdesc = AI notepad for meetings — local-first, E2EE desktop note-taking app
	pkgver = 1.4.19
	pkgrel = 1
	url = https://anarlog.so
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libpipewire
	depends = libpulse
	depends = alsa-lib
	depends = openssl
	depends = gcc-libs
	depends = ca-certificates
	depends = desktop-file-utils
	depends = xdg-utils
	depends = hicolor-icon-theme
	optdepends = libayatana-appindicator: tray icon support
	optdepends = pipewire: audio capture at runtime
	provides = anarlog
	conflicts = anarlog
	options = !strip
	source = LICENSE-1.4.19::https://raw.githubusercontent.com/fastrepl/anarlog/desktop_v1.4.19/LICENSE
	sha256sums = ba9cc3a7e074c5cfe3985d6956f24c9f7575592a0483e314c9fcb4f72ee1b615
	source_x86_64 = anarlog-1.4.19-x86_64.deb::https://github.com/fastrepl/anarlog/releases/download/desktop_v1.4.19/anarlog-linux-x86_64.deb
	sha256sums_x86_64 = 0df9e47751dc63c6c84bc57b2ee2c399724f163e311fe894a372da10950ff978
	source_aarch64 = anarlog-1.4.19-aarch64.deb::https://github.com/fastrepl/anarlog/releases/download/desktop_v1.4.19/anarlog-linux-aarch64.deb
	sha256sums_aarch64 = e4ba237d30b72fe256ef656c969f84675c43f3e13419494b5209ca78a12f0eef

pkgname = anarlog-bin
