pkgbase = anarlog-bin
	pkgdesc = AI notepad for meetings — local-first, E2EE desktop note-taking app
	pkgver = 1.4.20
	pkgrel = 1
	url = https://anarlog.so
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libpipewire
	depends = libpulse
	depends = alsa-lib
	depends = openssl
	depends = gcc-libs
	depends = ca-certificates
	depends = desktop-file-utils
	depends = xdg-utils
	depends = hicolor-icon-theme
	optdepends = libayatana-appindicator: tray icon support
	optdepends = pipewire: audio capture at runtime
	provides = anarlog
	conflicts = anarlog
	options = !strip
	source = LICENSE-1.4.20::https://raw.githubusercontent.com/fastrepl/anarlog/desktop_v1.4.20/LICENSE
	sha256sums = ba9cc3a7e074c5cfe3985d6956f24c9f7575592a0483e314c9fcb4f72ee1b615
	source_x86_64 = anarlog-1.4.20-x86_64.deb::https://github.com/fastrepl/anarlog/releases/download/desktop_v1.4.20/anarlog-linux-x86_64.deb
	sha256sums_x86_64 = 00a9721ccc7e8a152743e60a9ac60b5a6f52796e3eaa1368787ac5ea8b2bb425
	source_aarch64 = anarlog-1.4.20-aarch64.deb::https://github.com/fastrepl/anarlog/releases/download/desktop_v1.4.20/anarlog-linux-aarch64.deb
	sha256sums_aarch64 = 2bcaa145eec37e267b1aeeeaadf20d8d1226250644c4b2f6318eb3a5dd4646b2

pkgname = anarlog-bin
