@layer base {
  *,
  ::before,
  ::after,
  ::backdrop,
  ::file-selector-button,
  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-track {
    corner-shape: squircle;
  }
}

.rounded-pill {
  border-radius: calc(infinity * 1px);
  corner-shape: round;
}
